AUTH_SECRET=9w0BAQEFAAOfCAQ8AMIIBCgKCAQEAu1fHFnITRjguevx8fKDoWIbz51UJfK3u8+dSfMGG
AUTH_KEYCLOAK_ID=qm-client
AUTH_KEYCLOAK_SECRET=1yTvcNB8DPQoeGaxOgRyPsQu0j9MQuDM
AUTH_KEYCLOAK_ISSUER=http://localhost/auth/realms/qm-realm
AUTH_HOST_URL=http://localhost
AUTH_KEYCLOAK_INNER=http://keycloak:8080/auth/realms/qm-realm
