# .env.example
ALLOWED_ORIGINS=http://localhost:3000
REALM_CLIENT_ID=local-realm
JWK_SET_URI=http://localhost:8186/realms/local-realm/protocol/openid-connect/certs
ISSUER_URI=http://localhost:8186/realms/local-realm