# .env.example
ALLOWED_ORIGINS=http://localhost:3000
REALM_CLIENT_ID=qm-client
JWK_SET_URI=http://keycloak:8080/realms/qm-realm/protocol/openid-connect/certs
ISSUER_URI=http://localhost:8186/realms/qm-realm

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

POSTGRES_DB_HOST=postgres_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
BOOK_DB_NAME=book_db
BOOK_SERVICE_URL=http://localhost:8090