# .env.example
ALLOWED_ORIGINS=http://localhost:3000
REALM_CLIENT_ID=qm-client
JWK_SET_URI=http://keycloak:8080/auth/realms/qm-realm/protocol/openid-connect/certs
ISSUER_URI=http://localhost/auth/realms/qm-realm

REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

POSTGRES_DB_HOST=postgres_db
POSTGRES_DB_PORT=5432

BOOK_DB_USER=book_service_user
BOOK_DB_PASSWORD=strong_password_123
BOOK_DB_NAME=book_db

EUREKA_HOST=http://eureka-server:8761
EUREKA_PORT=8761
EUREKA_HOSTNAME=eureka-server
LIBRARY_HOSTNAME=library-service

MONGO_URI=mongodb://mongodb:27017/commentdb

AUTH_SECRET=9w0BAQEFAAOfCAQ8AMIIBCgKCAQEAu1fHFnITRjguevx8fKDoWIbz51UJfK3u8+dSfMGG
AUTH_KEYCLOAK_ID=qm-client
AUTH_KEYCLOAK_SECRET=1yTvcNB8DPQoeGaxOgRyPsQu0j9MQuDM
AUTH_KEYCLOAK_ISSUER=http://localhost/auth/realms/qm-realm
AUTH_HOST_URL=http://localhost
AUTH_KEYCLOAK_INNER=http://keycloak:8080/auth/realms/qm-realm
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost/api/auth

PUBLIC_DNS=localhost
KC_HOSTNAME_URL=http://localhost/auth
KC_HOSTNAME=localhost